.header {
  background-color: brown;
}

.heading {
  color: beige;
  font-size: 24px;
}
.main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background-color: black;
}

.summary {
  text-align: center;
  max-width: 45rem;
  margin-top: 50px !important;
  margin: 0 auto;
  max-width: fit-content;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.card-text {
  color: wheat;
}
.summary-card {
  background-color: brown;
}

.card-title {
  color: white;
}
.meal-name {
  color: red;
}
.meal-btn {
  text-align: right;
}
.meal-card {
  position: relative;
}

.meal-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.cart-add {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 50px;
}
cart-add::-webkit-outer-spin-button,
.cart-add::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.meallist-card {
  margin-top: 5%;
}
